<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog y Pagina</title>
</head>
<body>
    <p>Navegación</p>
    {{{body}}}
    <p>Footer</p>
</body>
</html>
